@import url("https://fonts.googleapis.com/css2?family=Poppins:display=swap");

body{
    background-color: rgb(132, 216, 235);
    background:url("image/ima-1.jpg");
  background-repeat: no-repeat;
  background-size: 5504px 1580px;
  background-attachment: scroll;
 font-size: 2vw;
}

#ptag{
    
    text-align: center;
   color: brown;
  
}

 .place
{
  background-color: rgb(235, 74, 15);
  padding: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.secondrow{
  margin-top:0px;
  margin-bottom: 5px;
}

.thirdrow{
  margin-top: 0%;
  font-family: cursive;
  font-size: 50px;
}

.place-2
{
  background: #f6eaea33;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}

.travel{
  width: 4000px;
  height:1200px ;
  display: flex;
}

.img{
width: 1080px;
height: 630px;
}

.box{
  margin: 50px;
  width: 2800px;
  height: 1200px;
}