@import url("https://fonts.googleapis.com/css2?family=Poppins:display=swap");

body{
    background-color: rgb(132, 216, 235);
    background:url("image/ima-1.jpg");
  background-repeat: no-repeat;
  background-size: 1280px 350px;
  background-attachment: scroll;
 font-size: 2vw;
 
}

#ptag{
    padding: 5px;
    text-align: center;
   color: brown;
  
}

 .place
{
  background-color: rgb(235, 74, 15);
  padding: 5px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.secondrow{
  margin-top:0px;
  margin-bottom: 5px;
}

.thirdrow{
  margin-top: 0%;
  font-family: cursive;
  font-size: 15px;
}

.place-2
{
  background: #f6eaea33;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
}

.travel{
  width: 600px;
  height:400px ;
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.box{
  margin: 20px;
  width: 580px;
  height: 400px;
}

.img{
width: 300px;
height: 230px;
padding: 5px;
}
